@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5vw;
  margin-right: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-item {
  padding: 10vw;
  position: relative;
}

.card-item h2 {
  color: #f2f2f2;
  font-family: Big Shoulders Display, sans-serif;
  text-transform: uppercase;
  font-size: 10vw;
}

.card-item p {
  color: rgba(255, 255, 255, 0.75);
  font-family: Lexend Deca, sans-serif;
  margin-top: -1vh;
  margin-bottom: 3.5vh;
}

.card-item button {
  background-color: #f2f2f2;
  border: none;
  border-radius: 20px;
  padding: 3vw;
  font-family: Lexend Deca, sans-serif;
  font-weight: bold;
  font-size: 4vw;
  position: absolute;
  bottom: 5vw;
}

.card-item button:hover {
  border: 2px solid #f2f2f2;
  color: #f2f2f2;
}

.sedan {
  background-color: #e38826;
  border-radius: 10px 10px 0 0;
}

.sedan button {
  color: #e38826;
}

.sedan button:hover {
  background-color: #e38826;
}

.suv {
  background-color: #006970;
}

.suv button {
  color: #006970;
}

.suv button:hover {
  background-color: #006970;
}

.luxury {
  background-color: #004241;
  border-radius: 0 0 10px 10px;
}

.luxury button {
  color: #004241;
}

.luxury button:hover {
  background-color: #004241;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 400px) {
  .card-item p {
    font-size: 5vw;
  }
  .card-item button {
    border-radius: 25px;
  }
}

@media screen and (min-width: 700px) {
  .card-item h2 {
    font-size: 6vw;
  }
  .card-item p {
    font-size: 4vw;
    margin-bottom: 10vw;
  }
  .card-item button {
    border-radius: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .card-item {
    padding: 2vw;
    height: 30vw;
  }
  .card-item h2 {
    font-size: 3.5vw;
  }
  .card-item p {
    margin-top: 1vw;
    font-size: 1.5vw;
  }
  .card-item button {
    padding: 1vw;
    margin-top: 1vw;
    font-size: 1.5vw;
    bottom: 3vw;
  }
  .sedan {
    border-radius: 10px 0 0 10px;
  }
  .luxury {
    border-radius: 0 10px 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */